<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Netter_HTTP_Devices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Netter_HTTP_Devices.Properties.Settings>
            <setting name="LengthLong" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="GroupIDs" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>1</int>
                        <int>2</int>
                        <int>3</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="GroupTitles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Безопасность</string>
                        <string>Климат</string>
                        <string>Освещение</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TypeTitles_of_SecurityGroup" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Дверь</string>
                        <string>Окно</string>
                        <string>Пол</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TypeTitles_of_LightingGroup" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Лампа</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultStatusTimer" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="TypeIDs_of_SecurityGroup" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>1</int>
                        <int>2</int>
                        <int>3</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="TypeIDs_of_LightingGroup" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>1</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="Door_Position" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Открыто</string>
                        <string>Закрыто</string>
                        <string>Заблокировано</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultLocation" serializeAs="String">
                <value>Room 1</value>
            </setting>
            <setting name="DefaultURI" serializeAs="String">
                <value>http://localhost:8888/</value>
            </setting>
            <setting name="DefaultResponseTimeOut" serializeAs="String">
                <value>00:00:03</value>
            </setting>
            <setting name="DefaultRepeatedRequestTimer" serializeAs="String">
                <value>00:00:03</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>Netter</value>
            </setting>
            <setting name="ConnectionStatus" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Активно</string>
                        <string>Ожидается</string>
                        <string>Отсутствует</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PostRequest_Operation" serializeAs="String">
                <value>oprt</value>
            </setting>
            <setting name="PostRequest_OperationValue" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>on</string>
                        <string>off</string>
                        <string>get</string>
                        <string>set</string>
                        <string>lp</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LengthShot" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MaxRepeatRequest" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxStatusTimer" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="MaxRepeatedRequestTimer" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="MinStatusTimer" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="DeleteTimerTitle" serializeAs="String">
                <value>statustimer</value>
            </setting>
            <setting name="Window_Position" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Открыть</string>
                        <string>Проветривание</string>
                        <string>Закрыть</string>
                        <string>Заблокировать</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="HTTPClientOptionsName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>uri</string>
                        <string>statustimer</string>
                        <string>responsetimer</string>
                        <string>pausetimer</string>
                        <string>repeat</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MaxCountMessageLine" serializeAs="String">
                <value>100</value>
            </setting>
        </Netter_HTTP_Devices.Properties.Settings>
    </userSettings>
</configuration>